@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Urbanist";
  font-weight: 400 500 600 700;
  src: url('/assets-2usdf/fonts/Urbanist-VariableFont_wght.ttf') format("truetype");
}

@theme {
  --*: initial;

  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  /* --breakpoint-xl: 80rem; */
  /* --breakpoint-2xl: 96rem; */


  --color-charcoal-50: #555555;
  --color-charcoal-400: #373737;
  --color-charcoal-500: #303030;
  --color-charcoal-600: #282828;
  --color-charcoal-700: #212121;

  --color-black: #101010;

  --color-brand-300: #6482EC; 
  --color-brand-500: #1E46D6;
  --color-brand-700: #172F81;
  
  --color-white: #FAFAFA;

  --color-gray-50: #E5E5E5;
  --color-gray-100: #D6D6D6;
  --color-gray-200: #BDBDBD;
  --color-gray-300: #A8A8A8;
  --color-gray-400: #888888;
  --color-gray-500: #666666;
  --color-gray-600: #4C4C4C;
  --color-gray-700: #3B3B3B;
  --color-gray-800: #2F2F2F;
  --color-gray-900: #262626;
  --color-gray-950: #1A1919;
  
  --color-link-500: #3771D5;

  --color-success-500: #00BE5E;
  --color-success-600: #009F4E;
  
  /* todo remove these and integrate them into spacings */
  --container-3xs: 16rem; /* 256px */
  /* --container-7xl: 80rem; 1280px -> this is in conflict with --spacing-7xl */
  --container-8xl: 90rem; /* 1440px */
  --container-24xl: 80rem; /* 1280px */
  --container-30xl: 120rem; /* 1920px */
  

  /* --ease-in: cubic-bezier(0.4, 0, 1, 1); */
  /* --ease-out: cubic-bezier(0, 0, 0.2, 1); */
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);

  --font-urbanist: "Urbanist", sans-serif;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  
  --radius-xs: .25rem; /* 4px */
  --radius-md: .5rem; /* 8px */
  --radius-xl: .75rem; /* 12px */
  --radius-3xl: 1.25rem; /* 20px */
  --radius-4xl: 1.5rem; /* 24px */
  --radius-full: 2rem; /* 32px */

  --spacing-unset: unset;
  --spacing-xs: .25rem; /* 4px */
  --spacing-sm: .375rem; /* 6px */
  --spacing-md: .5rem; /* 8px */
  --spacing-lg: .75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-2xl: 1.25rem; /* 20px */
  --spacing-3xl: 1.5rem; /* 24px */
  --spacing-4xl: 2rem; /* 32px */
  --spacing-5xl: 2.5rem; /* 40px */
  --spacing-6xl: 3rem; /* 48px */
  --spacing-7xl: 3.5rem; /* 56px */
  --spacing-11xl: 8rem; /* 128px */


  --text-xs: .75rem; /* 12px */
  --text-xs--line-height: 1rem; /* 16px */
  --text-sm-tight: .875rem; /* 14px */
  --text-sm-tight--line-height: 1rem; /*   16px */
  --text-sm: .875rem; /* 14px */
  --text-sm--line-height: 1.25rem; /* 20px */
  --text-md: 1rem; /* 16px */
  --text-md--line-height: 1.5rem; /* 24px */
  --text-lg: 1.125rem; /* 18px */
  --text-lg--line-height: 1.75rem; /* 28px */
  --text-xl: 1.25rem; /* 20px */
  --text-xl--line-height: 1.5rem; /* 24px */
  --text-2xl: 1.5rem ; /* 24px */
  --text-2xl--line-height: 2rem; /* 32px */

  --text-4xl: 2rem; /* 32px */
  --text-4xl--line-height: 3rem; /* 48px */

  --text-6xl: 3rem; /* 48px */
  --text-6xl--line-height: 3.5rem; /* 56px */
}

html {
  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords;
}
