@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "Urbanist";
  font-weight: 400 500 600 700;
  src: url('/assets-2usdf/fonts/Urbanist-VariableFont_wght.ttf') format("truetype");
}

@theme {
  --*: initial;

  --color-black: #101010;

  --color-brand-300: #6482EC; 
  --color-brand-500: #1E46D6;
  --color-brand-700: #172F81;
  
  --color-white: #FAFAFA;
  --color-gray-100: #D6D6D6;
  --color-gray-300: #A8A8A8;

  --font-urbanist: "Urbanist", sans-serif;
  --font-weight-semibold: 600;
  
  --radius-full: 2rem;
  
  --spacing-sm: .375rem; /* 6px */
  --spacing-md: .5rem; /* 8px */
  --spacing-lg: .75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-3xl: 1.5rem; /* 24px */

  --text-sm-tight: .875rem; /* 14px */
  --text-sm-tight--line-height: 1rem; /* 16px */
  /* --text-sm: .875rem; 14px */
  /* --text-sm--line-height: 1.25rem; 20px */
  --text-md: 1rem; /* 16px */
  --text-md--line-height: 1.5rem; /* 24px */
}
