// When updating values here, please keep in mind that you might have to updated utils/colors.ts too

:root {
  --grey: #a5a5a5;
  --medium-grey: #b3b3b3;
  --grey-1: #e9e9e9;
  --grey-4: #f4f4f4;
  --light-grey: #f0f0f0;
  --light-grey-2: #dfdfdf;
  --light-grey-3: #d3d3d3;
  --light-grey-4: #dddddd;
  --light-grey-5: #eaeaea;
  --dark-grey: #5c4e4e;
  --very-dark-grey: #362f32;
  --asphalt: #484f56;
  --graphite: #343a40;
  --almost-black: #232024;
  --light-black: #2a262c;
  --dark-blue: #2f2e42;
  --purple-blue: #3e4461;
  --light-purple-blue: #545C7E;
  --blue: #2e82ae;
  --light-blue: #66bce9;
  --melllow-blue: #7DB5EC;
  --flashy-green: #90ed7d;
  --light-green: #4e7451;
  --green: #7dc382;
  --flashy-red: #f3454a;
  --light-red: #d42127;
  --dark-red: #ce3438;
  --yellow: #ffd600;
  --purple: #9747ff;
  --light-orange: #e77f27;
  --orange: #f7a35c;
  --primary-color: #f89811;
  --primary-orange: #ffaa31;
  --primary-orange-hover: #ff951a;
  --primary-orange-pressed: #ffb346;
  --orange-color: var(--light-orange);
  --black-transparent-3: rgba(0, 0, 0, 0.3);

  --primary-contrast-color: var(--grey-4);
  --primary-contrast-color-discreet: var(--light-grey-5);

  --scrollbar-thumb-color: var(--dark-grey);
  --scrollbar-thumb-hover-color: var(--grey);

  --background-color: var(--grey-1);
  --text-color: var(--light-black);
  --text-color-inverted: var(--light-grey);
  --text-color-disabled: var(--grey);
  --text-color-discreet: var(--dark-grey);

  --button-color-active: var(--primary-orange);
  --button-color-hover: var(--primary-orange-hover);
  --button-color-pressed: var(--primary-orange-pressed);
  --button-color-disabled: var(--grey);
  --button-color-dark-pattern: var(--light-grey-2);
  --button-color-dangerous: var(--flashy-red);
  --button-color-dangerous-hover: var(--dark-red);
  --button-text-color-dark-pattern: var(--light-black);
  --button-text-color-disabled: var(--grey-4);
  --button-text-color-dangerous: var(--grey-4);

  --checkbox-background-color: var(--light-grey-4);

  --container-background: var(--grey-4);
  --container-color: var(--light-black);
  --container-border-color: var(--light-grey-3);
  --container-border: 1px solid var(--container-border-color);
  
  --subcontainer-background: var(--light-grey-2);

  --input-background: var(--grey-4);
  --input-border-color: var(--light-grey-3);
  --input-active-text-color: var(--light-black);
  --input-placeholder-text-color: var(--grey);

  --searchbar-background-default: var(--light-grey);
  --searchbar-background-darkblue: var(--purple-blue);
  --searchbar-background-lightblue: var(--light-purple-blue);
  --searchbar-background-hover-darkblue: var(--light-purple-blue);
  --searchbar-background-hover-lightblue: var(--purple-blue);
  --searchbar-background-pressed-blue: var(--blue);
  --searchbar-text-blue: var(--light-grey);
  --searchbar-text-detail-default: var(--dark-grey);
  --searchbar-text-detail-darkblue: var(--grey);
  --searchbar-text-detail-lightblue: var(--medium-grey);
  --searchbar-filter-unselected-default: var(--button-color-disabled);
  --searchbar-networkdropdown-bground-blue: var(--light-grey);
  --searchbar-networkdropdown-border-blue: var(--light-grey-3);
  --dropdown-background-hover: var(--grey);
  --tooltip-background: var(--light-grey-2);
  --tooltip-text-color: var(--light-black);

  --link-color: var(--blue);

  --equal-color: var(--yellow);
  --negative-color: var(--light-red);
  --negative-contrast-color: var(--text-color-inverted);
  --positive-color: var(--light-green);
  --positive-contrast-color: var(--text-color-inverted);
  --partial-color: var(--light-orange);
  --partial-contrast-color: var(--text-color-inverted);
  --orphaned-color: var(--purple);
  --orphaned-contrast-color: var(--text-color-inverted);
  --dark-tag-color: var(--graphite);
  --dark-tag-contrast-color: var(--light-grey);
  --light-tag-color: var(--light-grey-5);
  --light-tag-contrast-color: var(--light-black);

  --header-top-font-color: var(--light-grey);

  --megamenu-panel-color: var(--light-grey);
  --megamenu-text-color: var(--dark-grey);
  --megamenu-hover-color: var(--light-grey-3);

  --list-background: var(--light-grey);
  --list-highlight-background: var(--primary-orange-hover);
  --list-hover-background: var(--light-grey-3);
  --list-hover-color: var(--light-grey);
  --list-hover-descrete-color: var(--light-grey-5);

  --toggle-button-slider-color: var(--light-grey);

  &.dark-mode {
    --primary-color: var(--primary-orange);
    --primary-contrast-color: var(--light-black);
    --primary-contrast-color-discreet: var(--dark-grey);
    --orange-color: var(--orange);

    --scrollbar-thumb-color: var(--light-grey);

    --background-color: var(--almost-black);

    --text-color: var(--light-grey);
    --text-color-inverted: var(--light-black);
    --text-color-disabled: var(--grey);
    --text-color-discreet: var(--grey);

    --button-color-active: var(--primary-orange);
    --button-color-hover: var(--primary-orange-hover);
    --button-color-pressed: var(--primary-orange-pressed);
    --button-color-disabled: var(--grey);
    --button-color-dark-pattern: var(--light-grey);
    --button-text-color-disabled: var(--light-grey);
    --button-text-color-dangerous: var(--light-grey);

    --checkbox-background-color: var(--light-grey);

    --container-background: var(--light-black);
    --container-color: var(--grey-4);
    --container-border-color: var(--dark-grey);

    --subcontainer-background: var(--graphite);

    --input-background: var(--very-dark-grey);
    --input-border-color: var(--dark-grey);
    --input-active-text-color: var(--light-grey);
    --input-placeholder-text-color: var(--grey);

    --searchbar-background-default: var(--light-black);
    --searchbar-text-detail-default: var(--grey);
    --searchbar-filter-unselected-default: var(--light-grey);
    --dropdown-background-hover: var(--dark-grey);
    --tooltip-background: var(--light-grey);
    --tooltip-text-color: var(--light-black);

    --link-color: var(--light-blue);

    --negative-color: var(--flashy-red);
    --negative-contrast-color: var(--text-color);
    --positive-color: var(--green);
    --positive-contrast-color: var(--text-color-inverted);
    --partial-color: var(--orange);
    --light-tag-color: var(--light-grey);

    --megamenu-panel-color: var(--graphite);
    --megamenu-text-color: var(--grey);
    --megamenu-hover-color: var(--asphalt);

    --list-background: var(--light-black);
    --list-highlight-background: var(--primary-orange);
    --list-hover-background: var(--dark-grey);
    --list-hover-descrete-color: var(--grey);
  }
}
