@font-face {
  font-family: "Montserrat";
  font-weight: 500 600;
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500 600;
  font-style: italic;
  src: url("/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
}


@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 300 500;
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

:root {
  --montserrat-family: "Montserrat";
  --montserrat-medium: 500;
  --montserrat-semi-bold: 600;

  --roboto-family: "Roboto";
  --roboto-light: 300;
  --roboto-regular: 400;
  --roboto-medium: 500;
  --roboto-bold: 700;

  --inter-family: "Inter";
  --inter-light: 300;
  --inter-regular: 400;
  --inter-medium: 500;

  --header1_font_family: var(--montserrat-family);
  --header1_font_size: 24px;
  --header1_font_weight: var(--montserrat-medium);

  --subtitle_font_family: var(--montserrat-family);
  --subtitle_font_size: 18px;
  --subtitle_font_weight: var(--montserrat-medium);

  --big_text_font_family: var(--roboto-family);
  --big_text_font_size: 24px;
  --big_text_font_weight: var(--roboto-medium);

  --big_text_label_font_family: var(--roboto-family);
  --big_text_label_font_size: 20px;
  --big_text_label_font_weight: var(--roboto-regular);
  --big_text_label_bold_font_weight: var(--roboto-bold);

  --standard_text_font_family: var(--roboto-family);
  --standard_text_font_size: 14px;
  --standard_text_font_weight: var(--roboto-regular);
  --standard_text_medium_font_weight: var(--roboto-medium);
  --standard_text_bold_font_weight: var(--roboto-bold);

  --small_text_font_family: var(--roboto-family);
  --small_text_font_size: 12px;
  --small_text_font_weight: var(--roboto-light);
  --small_text_bold_font_weight: var(--roboto-medium);
  --discreet_text_font_size: 14px;

  --tooltip_text_font_family: var(--inter-family);
  --tooltip_text_font_size: 10px;
  --tooltip_text_font_weight: var(--inter-light);
  --tooltip_text_bold_font_weight: var(--inter-medium);

  --button_font_family: var(--roboto-family);
  --button_font_size: 14px;
  --button_font_weight: var(--roboto-medium);

  --paragraph_4_font_size: 14px;
}

@mixin dialog_header() {
  font-family: var(--header1_font_family);
  font-size: var(--header1_font_size);
  font-weight: var(--header1_font_weight);
}

.h1,
h1 {
  font-family: var(--header1_font_family);
  font-size: var(--header1_font_size);
  font-weight: var(--header1_font_weight);
}

@mixin subtitle_text() {
  font-family: var(--subtitle_font_family);
  font-size: var(--subtitle_font_size);
  font-weight: var(--subtitle_font_weight);
}

.subtitle_text {
  @include subtitle_text;
}

@mixin big_text(){
  font-family: var(--big_text_font_family);
  font-size: var(--big_text_font_size);
  font-weight: var(--big_text_font_weight);
}

.big_text{
  @include big_text
}

@mixin big_text_label() {
  font-family: var(--big_text_label_font_family);
  font-size: var(--big_text_label_font_size);
  font-weight: var(--big_text_label_font_weight);
}

.big_text_label {
  @include big_text_label
}

@mixin standard_text(){
  font-family: var(--standard_text_font_family);
  font-size: var(--standard_text_font_size);
  font-weight: var(--standard_text_font_weight);
}

.standard_text{
  @include standard_text
}

@mixin small_text(){
  font-family: var(--small_text_font_family);
  font-size: var(--small_text_font_size);
  font-weight: var(--small_text_font_weight);
}

.small_text{
  @include small_text
}

@mixin discreet_text(){
  @include small_text;
  font-size: var(--discreet_text_font_size);
}

.discreet_text{
  @include discreet_text
}

@mixin small_text_bold(){
  font-family: var(--small_text_font_family);
  font-size: var(--small_text_font_size);
  font-weight: var(--small_text_bold_font_weight);
}

.small_text_bold{
  @include small_text_bold
}

@mixin discreet_text_bold(){
  @include small_text_bold;
  font-size: var(--discreet_text_font_size);
}

.discreet_text_bold{
  @include discreet_text_bold
}

@mixin tooltip_text(){
  font-family: var(--tooltip_text_font_family);
  font-size: var(--tooltip_text_font_size);
  font-weight: var(--tooltip_text_font_weight);
}

.tooltip_text{
  @include tooltip_text
}

@mixin tooltip_text_bold(){
  font-family: var(--tooltip_text_font_family);
  font-size: var(--tooltip_text_font_size);
  font-weight: var(--tooltip_text_bold_font_weight);
}

.tooltip_text_bold{
  @include tooltip_text_bold
}

@mixin button_text(){
  font-family: var(--button_font_family);
  font-size: var(--button_font_size);
  font-weight: var(--button_font_weight);
}

.button_text{
  @include button_text
}