@import "~/assets/css/colors.scss";
@import "~/assets/css/variables.scss";
@import "~/assets/css/fonts.scss";
@import "~/assets/css/fontawesome.min.css";

html {
  margin: 0;
  padding: 0;
}
body {
  @include standard_text;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}
.link {
  font-size: 16px;
  color: var(--link-color);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

@mixin container() {  
  color: var(--container-color);
  background-color: var(--container-background);
  border: 1px solid var(--container-border-color);
  border-radius: var(--border-radius);
}

.container {
  @include container;
}

@mixin truncate-text() {  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-positive{
  color: var(--positive-color)
}

.text-negative{
  color: var(--negative-color)
}