
  .p-megamenu {
    padding: 0.5rem;
    background: var(--container-background);
  }
  .p-megamenu .p-megamenu-root-list {
    outline: 0 none;
  }
  .p-megamenu .p-menuitem > .p-menuitem-content {
    color: #4b5563;
    transition: box-shadow 0.2s;
    border-radius: 0;
  }
  .p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link {
    color: #4b5563;
    padding: 0.75rem 1.25rem;
    user-select: none;
  }
  .p-megamenu .p-menuitem:not(.orange-box) > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-menuitem-icon {
      color: var(--text-color);
      white-space: nowrap;
    }
  }
  .p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
    color: #047857;
  }
  .p-megamenu .p-menuitem.p-highlight > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-submenu-icon {
      color: var(--text-color);
    }
  }
  .p-megamenu .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    color: #4b5563;
  }
  .p-megamenu .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    background: var(--megamenu-hover-color);
  }
  .p-megamenu .p-megamenu-panel {
    background: var(--megamenu-panel-color);
    min-width: fit-content;
    right: 0;
    left: auto;
  }
  .p-megamenu .p-submenu-header {
    margin: 0;
    padding: 0.75rem 1.25rem;
    color: var(--text-color);
    font-weight: 400;
    font-size: 20px; 
  }
  .p-megamenu .p-submenu-list {
    padding: 0.5rem 0;
    min-width: fit-content;
  }
  .p-megamenu .p-submenu-list .p-menuitem-separator {
    border-top: 1px solid #e5e7eb;
    margin: 0.25rem 0;
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content {
    color: #4b5563;
    transition: box-shadow 0.2s;
    border-radius: 6px;
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 0.75rem 1.25rem;
    user-select: none;
  }
  .p-megamenu.p-megamenu-horizontal:not(.p-megamenu-mobile) .p-megamenu-root-list > .p-menuitem:not(.p-highlight) > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-submenu-icon {
      color: var(--megamenu-text-color);
    }
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    color: #6b7280;
    margin-right: 0.5rem;
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    margin-left: 0.5rem;
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    color: #4b5563;
    background: var(--container-background);
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link .p-menuitem-text {
    color: var(--text-color);
  }
  .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover .p-menuitem-link {
    .p-menuitem-icon,
    .p-submenu-icon {
      color: var(--text-color);
    }
  }
  .p-megamenu.p-megamenu-mobile {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-button {
    width: 2rem;
    height: 2rem;
    color: var(--text-color);
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list {
    position: static;
    background: var(--container-background);
    width: 100%;
    right: 0;
    left: auto;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list > .p-menuitem > .p-megamenu-panel {
    position: static;
    border-radius: 4px;
    padding: 0 10px;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-submenu-icon {
      color: var(--text-color);
      font-size: 22px;
    }
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-menuitem-separator {
    border-top: 1px solid #e5e7eb;
    margin: 0.25rem 0;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-submenu-icon {
    font-size: 0.875rem;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-menuitem .p-menuitem-content .p-menuitem-link .p-submenu-icon {
    margin-left: auto;
    transition: transform 0.2s;
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-menuitem.p-menuitem-active > .p-menuitem-content > .p-menuitem-link > .p-submenu-icon {
    transform: rotate(-180deg);
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-submenu-list .p-submenu-icon {
    transition: transform 0.2s;
    transform: rotate(90deg);
  }
  .p-megamenu.p-megamenu-mobile .p-megamenu-root-list .p-submenu-list .p-menuitem-active > .p-menuitem-content > .p-menuitem-link > .p-submenu-icon {
    transform: rotate(-90deg);
  }

// -------------------------------------------------------------------

  .p-megamenu {
    &:not(.p-megamenu-mobile) {
      // Adjust the column width to the minimum required
      .p-megamenu-panel {
        .p-megamenu-col-2,
        .p-megamenu-col-3,
        .p-megamenu-col-12 {
          width: fit-content;
        }
      }
    }
      .p-megamenu-panel {
        .p-megamenu-col-2,
        .p-megamenu-col-3,
        .p-megamenu-col-12 {
          padding: 0;
        }
      }
      // Set the special highlighted orange boxes
      .p-menuitem{
        &.orange-box{
          .p-menuitem-link {
            background-color: var(--primary-orange);
            border-radius: 3px;

            .p-menuitem-text{
              color: var(--text-color-inverted);
              white-space: nowrap;
            }

            &:hover {
              background-color: var(--primary-orange-hover);
            }
          }
        }
      }
  }

