@use "~/assets/css/fonts.scss";
@use "~/assets/css/utils.scss";
@import "~/assets/css/prime_datatable.scss";
@import "~/assets/css/prime_megamenu.scss";
@import "~/assets/css/prime_menubar.scss";

.p-error {
  color: #e24c4c;
}

// Button
// https://primevue.org/button/
button.p-button,
.p-button {
  @include fonts.button_text;

  height: var(--default-button-height);
  padding: 8px 24px;
  border: 1px solid var(--button-color-active);
  border-radius: var(--border-radius);

  display: inline-flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &:not([data-p-severity="secondary"]) {
    color: var(--primary-contrast-color);
    background: var(--button-color-active);
  }
  &[data-p-severity="secondary"] {
    color: var(--button-secondary-color);
    background: var(--button-secondary-background-color);
    border-color: var(--button-secondary-border-color);
  }

  &.p-disabled {
    color: var(--button-text-color-disabled);
    background: var(--button-color-disabled);
    border-color: var(--button-color-disabled);
  }

  &:not(:disabled):not([data-data-p-severity="secondary"]):hover {
    border: 1px solid var(--button-color-hover);
    background: var(--button-color-hover);
  }
  &:not(:disabled)[data-p-severity="secondary"]:hover {
    background: var(--button-secondary-hover-color);
    border: 1px solid var(--button-color-active);
  }
  &:not(:disabled):active {
    background: var(--button-color-pressed);
    border: 1px solid var(--button-color-pressed);
  }

  &.p-button-icon-only {
    padding: 8px;
    width: var(--default-button-height);
    flex-shrink: 1;
  }

  &.p-button-danger {
    color: var(--button-text-color-dangerous);

    &:not(:disabled) {
      background-color: var(--button-color-dangerous);
      border-color: var(--button-color-dangerous);

      &:hover {
        background-color: var(--button-color-dangerous-hover);
        border: 1px solid var(--button-color-dangerous-hover);
      }
    }
  }
}

// Dialog
// https://primevue.org/dialog/
div.p-dialog {
  background: var(--container-background);
  border: 1px solid var(--primary-orange);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  min-width: 375px;
  max-height: calc(100% - 60px);
  touch-action: pan-x pan-y;

  .p-dialog-header {
    color: var(--text-color);
    .p-dialog-title {
      @include fonts.dialog_header;
    }
    .p-dialog-close-button {
      display: none;
    }
  }
  &.p-dialog-header-hidden {
    .p-dialog-header {
      display: none;
    }
  }
  @media screen and (max-width: 430px) {
    margin-bottom: 0;
  }
}

.p-dialog-mask.p-component-overlay {
  background: var(--black-transparent-3);
}

// InputText
// https://primevue.org/inputtext/
input.p-inputtext {
  @include fonts.standard_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  padding: 4px 7px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  appearance: none;

  &::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &:enabled:hover,
  &.p-invalid {
    border-color: var(--input-border-color);
  }

  &:enabled:focus {
    border-color: var(--input-border-color);
    outline: 0 none;
    outline-offset: 0;
  }
}

// Tabs
// https://primevue.org/tabs/
.p-tabs {
  .p-tablist-tab-list {
    margin-right: 0;
    border: none;
    white-space: nowrap;

    .p-tab {
      border: solid transparent 1px;
      border-bottom-width: 0;
      border-top-right-radius: var(--border-radius);
      border-top-left-radius: var(--border-radius);
      padding: 10px 25px;
      color: var(--link-color);
      font-weight: inherit;
      font-size: inherit;
      font-family: inherit;
      background: transparent;

      &.p-tab-active {
        background: var(--container-background);
        border-color: var(--container-border-color);
        color: var(--container-color);
      }

      &:not(.p-tab-active):not(.p-disabled):hover {
        color: var(--link-color);
        border: solid transparent 1px;
        border-bottom-width: 0;
        opacity: 0.8;
      }

      &.p-disabled {
        color: var(--text-color-disabled);
      }
    }
  }
  .p-tabpanels {
    border: 1px solid var(--container-border-color);
    border-radius: var(--border-radius);
  }
}

// Checkbox
// https://primevue.org/checkbox/
div.p-checkbox {
  .p-checkbox-box {
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--checkbox-border-color);
    background: var(--checkbox-background-color);

    .p-checkbox-icon {
      transition-duration: 0.2s;
      pointer-events: none; // prevents the checkbox from letting click events pass through (like a hole) when unchecking
      &.p-icon {
        width: 14px;
        height: 14px;
      }
    }
  }
  &.p-checkbox-checked:not(:hover) {
    .p-checkbox-box {
      background: var(--primary-color);
      color: var(--primary-contrast-color);
    }
  }

  &.p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover),
  &:hover {
    .p-checkbox-box {
      background: var(--button-color-hover);
      color: var(--primary-contrast-color);
    }
  }
  &.p-disabled {
    .p-checkbox-box {
      background: var(--button-color-disabled);
    }
  }
}

// Input Switch
// https://primevue.org/toggleswitch/
.toggle-container {
  .p-toggleswitch {
    width: 43px;
    height: 22px;

    .p-toggleswitch-slider {
      background: var(--button-color-active) !important;
      transition: background-color 0.2s, color 0.2s, border-color 0.2s,
        box-shadow 0.2s;
      border-radius: 30px;
      border-width: 0 !important;

      &:not(.p-toggleswitch-checked) {
        background: var(--switch-color-disabled) !important;
      }
    }

    .p-toggleswitch-slider:before {
      background: var(--switch-slider-color) !important;
      width: 20px;
      height: 20px;
      left: 0.3px !important;
      margin-top: -10px;
      border-radius: 50%;
      transition-duration: 0.2s;
    }

    &.p-toggleswitch-checked .p-toggleswitch-slider:before {
      transform: translateX(20.6px);
    }

    &:not(.p-disabled):hover.p-toggleswitch-checked .p-toggleswitch-slider {
      background: var(--button-color-hover) !important;
    }

    &:not(.p-disabled):hover:not(.p-toggleswitch-checked)
      .p-toggleswitch-slider {
      background: var(--switch-color-disabled-hover) !important;
    }

    &:not(.p-disabled):not(:hover).p-toggleswitch-checked
      .p-toggleswitch-slider {
      background: var(--primary-color) !important;
    }

    &.p-disabled .p-toggleswitch-slider {
      background: var(--button-color-disabled) !important;
    }
  }
}

// Toast
// https://primevue.org/toast/
.p-toast {
  opacity: 1;

  .p-toast-message {
    margin: var(--content-margin);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);

    &-content {
      padding: var(--padding-large);
      border-width: 0 0 0 6px;

      .p-toast-message-text {
        margin: 0 0 0 16px;
      }

      .p-toast-message-icon {
        font-size: var(--logo_font_size);
        &.p-icon {
          width: 16px;
          height: 16px;
          align-self: center;
        }
      }

      .p-toast-summary {
        @include text-toast;
      }

      .p-toast-detail {
        color: var(--light-black);
        margin: 8px 0 0 0;
        @include text-toast-sm;
      }
    }

    .p-toast-icon-close {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: transparent;
      transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }

      &:focus-visible {
        outline: 0 none;
        outline-offset: 0;
        box-shadow: 0 0 0 3.2px #a7f3d0;
      }
    }

    &.p-toast-message-info {
      border: solid var(--toast-border-info-color) 1px;
      background: var(--toast-background-info-color);
      color: var(--toast-message-info-color);

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: var(--toast-message-info-color);
      }
    }

    &.p-toast-message-success {
      border: solid var(--toast-border-sucess-color) 1px;
      background: var(--toast-background-success-color);
      color: var(--toast-background-color-success);

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: var(--toast-background-color-success);
      }
    }

    &.p-toast-message-warn {
      border: solid var(--toast-border-error-color) 1px;
      background: var(--toast-background-error-color);
      color: var(--primary-color);

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: var(--primary-color);
      }
    }

    &.p-toast-message-error {
      border: solid var(--toast-border-error-color) 1px;
      background: var(--toast-background-error-color);
      color: var(--toast-message-error-color);

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: var(--toast-message-error-color);
      }
    }
  }
}

// Multiselect drop-down

.p-multiselect {
  @include fonts.button_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  height: var(--default-button-height);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  justify-content: center;
  width: 100%;

  &.small {
    height: 30px;

    .p-multiselect-label-container {
      margin-left: var(--padding-small);

      .p-multiselect-label {
        font-size: var(--tiny_text_font_size);
        font-weight: var(--standard_text_font_weight);
      }
    }
    .p-multiselect-trigger {
      width: 7px;
      margin-left: var(--padding-small);
      margin-right: var(--padding-small);
    }
  }

  .p-disabled {
    opacity: 0.5;
  }
  .p-multiselect-trigger {
    margin-right: var(--padding);
    width: 12px;
  }
  .p-multiselect-label-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: var(--padding);
    .p-multiselect-label {
      @include utils.truncate-text;
      &.p-placeholder {
        background: var(--searchbar-filter-unselected);
      }
    }
  }
}
.p-multiselect-panel {
  color: var(--input-active-text-color);
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: var(--padding) var(--padding-small);

  .p-multiselect-header {
    float: left;
    margin-right: var(--padding);
    padding-left: var(--padding-small);
    .p-multiselect-close {
      display: none;
    }
  }

  .p-multiselect-items-wrapper {
    max-width: 200px;
    margin-top: var(--padding);
    height: 100%;
    border-top: 1px solid var(--input-border-color);

    .p-multiselect-items {
      .p-multiselect-item {
        padding: var(--padding-small) 4px var(--padding-small);
        border-radius: var(--border-radius);

        &:hover {
          background: var(--list-hover-background);
          color: var(--list-hover-color);
        }
        .p-checkbox {
          margin-right: var(--padding);
        }
        span {
          @include utils.truncate-text;
        }
      }
    }
  }
}

/***
*  Select
* https://primevue.org/select/
* different Select variant's:
* - 'default' (=default) : default style for dropdown
* - 'table' : dropdown style within a data table
* - 'header' : used when it is in the header of the website
***/

.p-select {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    padding: var(--padding-small);
    height: 30px;

    .p-select-label {
      font-size: var(--tiny_text_font_size);
    }

    .p-select-dropdown {
      margin-left: var(--padding-small);
      width: 7px;
    }
  }

  &.table {
    background: var(--background-color);
  }
  &.header {
    background: transparent;
    border: none;
    padding: 0;
  }

  &:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
  }
  &.p-overlay-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .p-select-label {
    background: transparent;
    border: 0 none;
    padding: 0;
    &.p-placeholder {
      color: var(--input-placeholder-text-color);
    }
    &:focus,
    &:enabled:focus {
      outline: 0 none;
      box-shadow: none;
    }
  }
  .p-select-dropdown {
    width: 12px;
    margin-left: var(--padding);
  }
}

div.p-select-overlay {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transform: translateY(-1px);
  &.header {
    border-radius: var(--border-radius);
  }
  &.table {
    background: var(--background-color);
  }
  .p-select-list {
    padding: var(--padding-small);
    .p-select-option {
      @include utils.truncate-text;
      padding: var(--padding-small) 4px;
      border-radius: var(--border-radius);
      .discreet {
        color: var(--text-color-discreet);
      }
      &.p-select-option-selected:not(:hover) {
        background: var(--list-highlight-background);
        color: var(--primary-contrast-color);
        .discreet {
          color: var(--primary-contrast-color-discreet);
        }
      }
      &:hover {
        background: var(--list-hover-background);
        color: var(--list-hover-color);
        .discreet {
          color: var(--list-hover-descrete-color);
        }
      }
    }
  }
}

div.p-accordion {
  .p-accordionpanel {
    border: none;
    .p-accordionheader {
      padding: 16px 16px 16px 2px;
      display: flex;
      align-items: center;
      gap: var(--padding);
      .p-accordionheader-toggle-icon {
        display: none;
      }
    }
    .p-accordioncontent-content {
      border: none;
    }

    &.p-accordionpanel-active {
      .p-accordionheader {
        .fa-caret-right {
          transform: rotate(90deg);
        }
      }
    }
  }
  &:not(.basic) {
    .p-accordionpanel {
      .p-accordionheader {
        padding: 16px;
        color: var(--container-color);
        background-color: var(--container-background);
        border: 1px solid var(--container-border-color);
        border-radius: var(--border-radius);
        justify-content: space-between;
        flex-direction: row-reverse;
      }
    }
  }
}
