.p-megamenu {
  padding: 8px 0 8px 8px;
  background: var(--container-background);
  user-select: none;
  z-index: 1;  // without this, the menu keeps a very high z-index when it is open in mobile mode and then the window is enlarged (the change of mode closes the menu but does not reset its z-index, so the menu bar floats above the search bar)

  .p-megamenu-root-list:focus {
    outline: none;
  }

  .p-menuitem-active{
    .p-submenu-icon {
      transform: rotate(90deg);
    }
  }

  .p-menuitem > .p-menuitem-content .p-menuitem-link {
    padding: 12px 16px;
    display: flex;
    align-items: center;
    .p-menuitem-text {
      flex-grow: 1;
    }
  }
  .p-menuitem:not(.orange-box) > .p-menuitem-content .p-menuitem-link {
    .p-menuitem-text,
    .p-menuitem-icon {
      color: var(--text-color);
      white-space: nowrap;
    }
  }
  .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    background: var(--megamenu-hover-color);
  }
  .p-megamenu-panel {
    background: var(--megamenu-panel-color);
    min-width: fit-content;
    right: 0;
    left: auto;
  }
  .p-submenu-header {
    margin: 0;
    padding: 12px 20px;
    color: var(--text-color);
    font-weight: var(--big_text_label_font_weight);
    font-size: var(--big_text_label_font_size);
  }
  .p-submenu-list {
    padding: 8px 0;
    min-width: fit-content;
  }
  &.p-megamenu-horizontal {
    &:not(.p-megamenu-mobile) {
      .p-megamenu-root-list
        > .p-menuitem:not(.p-highlight)
        > .p-menuitem-content
        .p-menuitem-link {
        .p-menuitem-text,
        .p-submenu-icon {
          color: var(--megamenu-text-color);
        }
      }
      .p-megamenu-root-list > .p-menuitem {
        &:last-child {
          > .p-menuitem-content .p-menuitem-link {
            padding-right: 0;
          }
        }
      }

      > .p-menuitem {
        &:last-child {
          > .p-menuitem-content .p-menuitem-link {
            padding-right: 0;
          }
        }
      }
    }
    .p-megamenu-root-list {
      > .p-menuitem {
        > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
          margin-left: 8px;
        }
        &:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
          background: var(--container-background);
          .p-menuitem-link >.p-menuitem-text {
            opacity: 0.8;
          }
        }
      }
    }
  }
  &.p-megamenu-mobile {
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;

    .p-megamenu-button {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }
    .p-megamenu-root-list {
      position: static;
      background: var(--container-background);
      width: 100%;
      right: 0;
      left: auto;
      border-bottom: 1px solid var(--primary-color);
    }
    .p-megamenu-root-list > .p-menuitem > .p-megamenu-panel {
      position: static;
      border-radius: 8px;
      padding: 0 var(--padding);
      margin: var(--padding-small);
    }
    .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
      .p-menuitem-text,
      .p-submenu-icon {
        color: var(--text-color);
      }
    }
  }

  &:not(.p-megamenu-mobile) {
    .p-megamenu-panel {
      .p-megamenu-col-2,
      .p-megamenu-col-3,
      .p-megamenu-col-12 {
        width: fit-content;
      }
    }
  }
  .p-megamenu-panel {
    .p-megamenu-col-2,
    .p-megamenu-col-3,
    .p-megamenu-col-12 {
      padding: 0;
    }
  }
  .p-menuitem {
    &.orange-box {
      .p-menuitem-link {
        background-color: var(--primary-orange);
        border-radius: var(--border-radius);

        .p-menuitem-text {
          color: var(--text-color-inverted);
          white-space: nowrap;
        }

        &:hover {
          background-color: var(--primary-orange-hover);
        }
      }
    }
  }
}
