.p-datatable {
  &.no-header {
    .p-datatable-thead {
      display: none;
    }
  }
  .p-paginator-top {
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .p-paginator-bottom {
    border-width: 0 0 1px 0;
    border-radius: 0;
  }
  .p-datatable-header {
    background: #f9fafb;
    color: #374151;
    border: 1px solid #e5e7eb;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
  }
  .p-datatable-footer {
    background: #f9fafb;
    color: #374151;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 700;
  }
  .p-datatable-thead {
    > tr {
      > th {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        font-weight: 700;
        color: #374151;
        background: #f9fafb;
        transition: box-shadow 0.2s;
      }
    }
  }
  .p-datatable-tfoot {
    > tr {
      > td {
        text-align: left;
        padding: 1rem 1rem;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        font-weight: 700;
        color: #374151;
        background: #f9fafb;
      }
    }
  }
  .p-sortable-column {
    &:not(.p-highlight):hover {
      background: #f3f4f6;
      color: #374151;
    }
    &.p-highlight {
      background: #f0fdfa;
      color: #047857;
      &:hover {
        background: #f0fdfa;
        color: #047857;

        .p-sortable-column-icon {
          color: #047857;
        }
      }
      .p-sortable-column-icon {
        color: #047857;
      }
    }
    &:not(.p-highlight):hover {
      .p-sortable-column-icon {
        color: #374151;
      }
    }
    &:focus-visible {
      box-shadow: inset 0 0 0 0.15rem #a7f3d0;
      outline: 0 none;
    }
    .p-sortable-column-icon {
      color: #374151;
      margin-left: 0.5rem;
    }
    .p-sortable-column-badge {
      border-radius: 50%;
      height: 1.143rem;
      min-width: 1.143rem;
      line-height: 1.143rem;
      color: #047857;
      background: #f0fdfa;
      margin-left: 0.5rem;
    }
  }
  .p-datatable-tbody {
    > tr {
      background: #ffffff;
      color: #4b5563;
      transition: box-shadow 0.2s;

      &:focus-visible {
        outline: 0.15rem solid #a7f3d0;
        outline-offset: -0.15rem;
      }
      &.p-highlight {
        background: #f0fdfa;
        color: #047857;
      }
      &.p-highlight-contextmenu {
        outline: 0.15rem solid #a7f3d0;
        outline-offset: -0.15rem;
      }
      &.p-datatable-dragpoint-top > td {
        box-shadow: inset 0 2px 0 0 #f0fdfa;
      }
      &.p-datatable-dragpoint-bottom > td {
        box-shadow: inset 0 -2px 0 0 #f0fdfa;
      }

      > td {
        text-align: left;
        border: 1px solid #e5e7eb;
        border-width: 0 0 1px 0;
        padding: 1rem 1rem;

        .p-row-toggler,
        .p-row-editor-init,
        .p-row-editor-save,
        .p-row-editor-cancel {
          width: 2rem;
          height: 2rem;
          color: #6b7280;
          border: 0 none;
          background: transparent;
          border-radius: 50%;
          transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
        }

        .p-row-toggler:enabled:hover,
        .p-row-editor-init:enabled:hover,
        .p-row-editor-save:enabled:hover,
        .p-row-editor-cancel:enabled:hover {
          color: #374151;
          border-color: transparent;
          background: #f3f4f6;
        }
        .p-row-toggler:focus-visible,
        .p-row-editor-init:focus-visible,
        .p-row-editor-save:focus-visible,
        .p-row-editor-cancel:focus-visible {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: 0 0 0 0.2rem #a7f3d0;
        }
        .p-row-editor-save {
          margin-right: 0.5rem;
        }
        > .p-column-title {
          font-weight: 700;
        }
      }
    }
  }
  &.p-datatable-hoverable-rows {
    .p-datatable-tbody {
      > tr:not(.p-highlight):hover {
        background: #f3f4f6;
        color: #4b5563;
      }
    }
  }
  .p-column-resizer-helper {
    background: #10b981;
  }
  .p-datatable-scrollable {
    > .p-datatable-wrapper {
      > .p-datatable-table > .p-datatable-thead,
      > .p-datatable-table > .p-datatable-tfoot,
      > .p-virtualscroller > .p-datatable-table > .p-datatable-thead,
      > .p-virtualscroller > .p-datatable-table > .p-datatable-tfoot {
        background-color: #f9fafb;
      }
    }
  }
  .p-datatable-loading-icon {
    font-size: 2rem;
    &.p-icon {
      width: 2rem;
      height: 2rem;
    }
  }
  &.p-datatable-gridlines {
    .p-datatable-header {
      border-width: 1px 1px 0 1px;
    }
    .p-datatable-footer {
      border-width: 0 1px 1px 1px;
    }
    .p-paginator-top {
      border-width: 0 1px 0 1px;
    }
    .p-paginator-bottom {
      border-width: 0 1px 1px 1px;
    }
    .p-datatable-thead > tr > th {
      border-width: 1px 0 1px 1px;
    }
    .p-datatable-thead > tr > th:last-child {
      border-width: 1px;
    }
    .p-datatable-tbody > tr > td {
      border-width: 1px 0 0 1px;
    }
    .p-datatable-tbody > tr > td:last-child {
      border-width: 1px 1px 0 1px;
    }
    .p-datatable-tbody > tr:last-child > td {
      border-width: 1px 0 1px 1px;
    }
    .p-datatable.p-datatable-gridlines
      .p-datatable-tbody
      > tr:last-child
      > td:last-child {
      border-width: 1px;
    }
    .p-datatable-tfoot > tr > td {
      border-width: 1px 0 1px 1px;
    }
    .p-datatable-tfoot > tr > td:last-child {
      border-width: 1px 1px 1px 1px;
    }
    .p-datatable-thead + .p-datatable-tfoot > tr > td {
      border-width: 0 0 1px 1px;
    }
    .p-datatable-thead + .p-datatable-tfoot > tr > td:last-child {
      border-width: 0 1px 1px 1px;
    }
    &:has(.p-datatable-thead):has(.p-datatable-tbody)
      .p-datatable-tbody
      > tr
      > td {
      border-width: 0 0 1px 1px;
    }
    &:has(.p-datatable-thead):has(.p-datatable-tbody)
      .p-datatable-tbody
      > tr
      > td:last-child {
      border-width: 0 1px 1px 1px;
    }
    &:has(.p-datatable-tbody):has(.p-datatable-tfoot)
      .p-datatable-tbody
      > tr:last-child
      > td {
      border-width: 0 0 0 1px;
    }
    &:has(.p-datatable-tbody):has(.p-datatable-tfoot)
      .p-datatable-tbody
      > tr:last-child
      > td:last-child {
      border-width: 0 1px 0 1px;
    }
  }
  &.p-datatable-striped {
    .p-datatable-tbody > tr.p-row-odd {
      background: #f8f8fa;
    }
    .p-datatable-tbody > tr.p-row-odd.p-highlight {
      background: #f0fdfa;
      color: #047857;
    }
    .p-datatable-tbody > tr.p-row-odd.p-highlight .p-row-toggler {
      color: #047857;
    }

    .p-datatable-tbody > tr.p-row-odd.p-highlight .p-row-toggler:hover {
      color: #047857;
    }
  }
  &.p-datatable-sm {
    .p-datatable-header {
      padding: 0.5rem 0.5rem;
    }
    .p-datatable-thead > tr > th {
      padding: 0.5rem 0.5rem;
    }
    .p-datatable-tbody > tr > td {
      padding: 0.5rem 0.5rem;
    }
    .p-datatable-tfoot > tr > td {
      padding: 0.5rem 0.5rem;
    }
    .p-datatable-footer {
      padding: 0.5rem 0.5rem;
    }
  }
  &.p-datatable-lg {
    .p-datatable-header {
      padding: 1.25rem 1.25rem;
    }
    .p-datatable-thead > tr > th {
      padding: 1.25rem 1.25rem;
    }
    .p-datatable-tbody > tr > td {
      padding: 1.25rem 1.25rem;
    }
    .p-datatable-tfoot > tr > td {
      padding: 1.25rem 1.25rem;
    }
    .p-datatable-footer {
      padding: 1.25rem 1.25rem;
    }
  }
}
