@use "~/assets/css/fonts.scss";
@use "~/assets/css/utils.scss";
@import "~/assets/css/prime_datatable.scss";
@import "~/assets/css/prime_megamenu.scss";
@import "~/assets/css/prime_menubar.scss";

.p-error {
  color: #e24c4c;
}

// Button
// https://primevue.org/button/
.p-button {
  @include fonts.button_text;

  color: var(--primary-contrast-color);
  background: var(--button-color-active);
  height: var(--default-button-height);
  padding: 8px 24px;
  border: 1px solid var(--button-color-active);
  border-radius: var(--border-radius);

  display: inline-flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &.p-disabled {
    color: var(--button-text-color-disabled);
    background: var(--button-color-disabled);
    border-color: var(--button-color-disabled);
  }
  &:not(:disabled):hover {
    background: var(--button-color-hover);
    border-color: var(--button-color-hover);
  }
  &:not(:disabled):active {
    background: var(--button-color-pressed);
    border-color: var(--button-color-pressed);
  }

  &.p-button-icon-only {
    padding: 8px;
  }
}

// Dialog
// https://primevue.org/dialog/
.p-dialog {
  background: var(--container-background);
  border: 1px solid var(--primary-orange);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  min-width: 375px;

  .p-dialog-header {
    color: var(--text-color);
    .p-dialog-title {
      @include fonts.dialog_header;
    }
    .p-dialog-header-close {
      display: none;
    }
  }
  &.p-dialog-header-hidden {
    .p-dialog-header {
      display: none;
    }
  }
  @media screen and (max-width: 430px) {
    margin-bottom: 0;
  }
}

.p-dialog-mask {
  background: var(--black-transparent-3);
}

// InputText
// https://primevue.org/inputtext/
.p-inputtext {
  @include fonts.standard_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  padding: 4px 7px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  appearance: none;

  ::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
  }
}

// TabView
// https://primevue.org/tabview/
.p-tabview {
  .p-tabview-nav {
    li {
      margin-right: 0;

      .p-tabview-nav-link {
        border: solid transparent 1px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        padding: 10px 15px;
        color: var(--link-color);
      }
      &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color: var(--link-color);
      }
      &.p-highlight .p-tabview-nav-link {
        background: var(--container-background);
        border-color: var(--container-border-color);
        color: var(--container-color);
      }
      &.p-disabled .p-tabview-nav-link {
        color: var(--text-color-disabled);
      }
    }
  }
  .p-tabview-panels {
    border: 1px solid var(--container-border-color);
    border-radius: var(--border-radius);
  }
}

// Checkbox
// https://primevue.org/checkbox/
.p-checkbox {
  .p-checkbox-box {
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius);
    background: var(--checkbox-background-color);
    &.p-highlight:not(:hover) {
      background: var(--primary-color);
      color: var(--primary-contrast-color);
    }
    &:hover {
      background: var(--button-color-hover);
      color: var(--primary-contrast-color);
    }
    &.p-disabled {
      background: var(--button-color-disabled);
    }
    .p-checkbox-icon {
      transition-duration: 0.2s;
      pointer-events: none; // prevents the checkbox from letting click events pass through (like a hole) when unchecking
      .p-icon {
        width: 14px;
        height: 14px;
      }
    }
  }
}

// Input Switch
// https://primevue.org/inputswitch/
// TODO: apply our styles

.p-inputswitch {
  width: 3rem;
  height: 1.75rem;
}
.p-inputswitch .p-inputswitch-slider {
  background: #d1d5db;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 30px;
}
.p-inputswitch .p-inputswitch-slider:before {
  background: #ffffff;
  width: 1.25rem;
  height: 1.25rem;
  left: 0.25rem;
  margin-top: -0.625rem;
  border-radius: 50%;
  transition-duration: 0.2s;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(1.25rem);
}
.p-inputswitch.p-focus .p-inputswitch-slider {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
}
.p-inputswitch:not(.p-disabled):hover .p-inputswitch-slider {
  background: #b7bcc5;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #10b981;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  background: #ffffff;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
  background: #059669;
}
.p-inputswitch.p-invalid .p-inputswitch-slider {
  border-color: #e24c4c;
}

// Toast
// https://primevue.org/toast/
// TODO: apply our styles
.p-toast {
  opacity: 1;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.5);
}
.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
}
.p-toast .p-toast-message.p-toast-message-info {
  background: rgba(219, 234, 254, 0.7);
  border: solid #3b82f6;
  border-width: 0 0 0 6px;
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: rgba(228, 248, 240, 0.7);
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: rgba(255, 242, 226, 0.7);
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 0.7);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}

// Multiselect drop-down
// TODO: Apply our styles better and completely

.p-multiselect {
  @include fonts.button_text;
  color: var(--primary-contrast-color);
  background: var(--button-color-active);
  height: var(--default-button-height);
  border: 1px solid var(--button-color-active);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  justify-content: center;
}
.p-multiselect .p-disabled {
  color: var(--button-text-color-disabled);
  background: var(--button-color-disabled);
  border-color: var(--button-color-disabled);
}
.p-multiselect:not(:disabled):hover {
  background: var(--button-color-hover);
  border-color: var(--button-color-hover);
}
.p-multiselect .p-multiselect-label.p-placeholder {
  background: var(--searchbar-filter-unselected);
}
.p-multiselect .p-multiselect-trigger {
  background: transparent;
  color: var(--light-grey);
  width: 1.5rem;  // MAYBE 2rem IS BETTER
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.p-multiselect .p-multiselect-label {
  padding: 6px;
  padding-top: 3px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-multiselect-panel {
  background: var(--container-background);
  border: 0 none;
  border-radius: var(--border-radius);
}
.p-multiselect-panel .p-multiselect-items {
  padding: 0.75rem 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  margin: 0;
  padding: 4px;
  border: 0 none;
  color: var(--text-color);
  background: transparent;
  transition: box-shadow 0.2s;
  border-radius: 0;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #047857;
  background: #F0FDFA;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight.p-focus {
  background: rgba(16, 185, 129, 0.24);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #4b5563;
  background: #e5e7eb;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
  color: #4b5563;
  background: #f3f4f6;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
  margin-right: 0.5rem;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item-group {
  margin: 0;
  padding: 0.75rem 1.25rem;
  color: #374151;
  background: #ffffff;
  font-weight: 700;
}

/***
*  Dropdown
* https://primevue.org/dropdown/
* different Dropdown variant's:
* - 'default' (=default) : default style for dropdown
* - 'table' : dropdown style within a data table
***/

.p-dropdown {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    padding: var(--padding-small) var(--padding);
  }

  &.table {
    background: var(--background-color);
  }

  &:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
  }
  &.p-overlay-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .p-dropdown-label {
    background: transparent;
    border: 0 none;
    padding: 0;
    &.p-placeholder {
      color: var(--input-placeholder-text-color);
    }
    &:focus,
    &:enabled:focus {
      outline: 0 none;
      box-shadow: none;
    }
  }
  .p-dropdown-trigger {
    margin-left: var(--padding);
    background: transparent;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.p-dropdown-panel {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transform: translateY(-1px);
  &.table {
    background: var(--background-color);
  }
  .p-dropdown-items {
    padding: var(--padding-small);
    .p-dropdown-item {
      @include utils.truncate-text;
      padding: var(--padding-small) 4px;
      border-radius: var(--border-radius);
      .discreet {
        color: var(--text-color-discreet);
      }
      &.p-highlight:not(:hover) {
        background: var(--list-highlight-background);
        color: var(--primary-contrast-color);
        .discreet {
          color: var(--primary-contrast-color-discreet);
        }
      }
      &:hover {
        background: var(--list-hover-background);
        color: var(--list-hover-color);
        .discreet {
          color: var(--list-hover-descrete-color);
        }
      }
    }
  }
}