@use "~/assets/css/fonts.scss";
@import "~/assets/css/prime_datatable.scss";
// Button
// https://primevue.org/button/
.p-button {
  @include fonts.button_text;

  color: var(--primary-contrast-color);
  background: var(--button-color-active);
  height: var(--default-button-height);
  padding: 8px 24px;
  border: 1px solid var(--button-color-active);
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &.p-disabled {
    color: var(--button-text-color-disabled);
    background: var(--button-color-disabled);
    border-color: var(--button-color-disabled);
  }
  &:not(:disabled):hover {
    background: var(--button-color-hover);
    border-color: var(--button-color-hover);
  }
  &:not(:disabled):active {
    background: var(--button-color-pressed);
    border-color: var(--button-color-pressed);
  }

  &.p-button-icon-only {
    padding: 8px 10px;
  }
}

// InputText
// https://primevue.org/inputtext/
.p-inputtext {
  @include fonts.standard_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  padding: 4px 7px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  appearance: none;

  ::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
  }
}

// TabView
// https://primevue.org/tabview/
.p-tabview {  
  .p-tabview-nav {
    li {
      margin-right: 0;
    
      .p-tabview-nav-link {
        border: solid transparent 1px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        padding: 10px 15px;
        color: var(--link-color);
      }
      &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color: var(--link-color);
      }
      &.p-highlight .p-tabview-nav-link {
        background: var(--container-background);
        border-color: var(--container-border-color);
        color: var(--container-color);
      }
      &.p-disabled .p-tabview-nav-link {
        color: var(--text-color-disabled);
      }
    }
  }
  .p-tabview-panels {
    border: 1px solid var(--container-border-color);
    border-radius: var(--border-radius);
  }
}

// Toast
// https://primevue.org/toast/
// TODO: apply our styles
.p-toast {
  opacity: 1;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.5);
}
.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
}
.p-toast .p-toast-message.p-toast-message-info {
  background: rgba(219, 234, 254, 0.7);
  border: solid #3b82f6;
  border-width: 0 0 0 6px;
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: rgba(228, 248, 240, 0.7);
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: rgba(255, 242, 226, 0.7);
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 0.7);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}