@mixin truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text{
  @include truncate-text;
}

.pointer { 
  cursor: pointer;
}

.dots-before {
  &:before{
    content: '\2026'
  }
}

.dots-after {
  &:after{
    content: '\2026'
  }
}

.positive {  
  color: var(--positive-color);
}

.negative{
  color: var(--negative-color);
}