@mixin truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text {
  @include truncate-text;
}

.text-align-left {
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.dots-before {
  &:before {
    content: "\2026";
  }
}

.dots-after {
  &:after {
    content: "\2026";
  }
}

.no-wrap {
  white-space: nowrap;
}

.text-disabled{
  color: var(--text-color-disabled);
}

.positive {
  color: var(--positive-color);
}

.negative {
  color: var(--negative-color);
}

.mixed {
  color: var(--orange);
}

.orphaned {
  color: var(--purple);
}

.comma {
  &:before {
    content: ",";
  }
}

.slash-after {
  &:after {
    content: " / ";
  }
}

.round-brackets {
  &:before {
    content: "(";
  }
  &:after {
    content: ")";
  }
}

@mixin set-all-width($width) {
  width: $width;
  max-width: $width;
  min-width: $width;
}