@mixin truncate-text() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-text{
  @include truncate-text;
}

.pointer { 
  cursor: pointer;
}

.dots-before {
  &:before{
    content: '\2026'
  }
}

.dots-after {
  &:after{
    content: '\2026'
  }
}

.no-wrap{
  white-space: nowrap;
}

.positive {  
  color: var(--positive-color);
}

.negative{
  color: var(--negative-color);
}

.mixed {
  color: var(--orange);
}

.orphaned {
  color: var(--purple);
}

.comma{
  &:before{
    content: ',';
  }
}

@keyframes blinking {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.blinking-animation {
  animation: blinking 1s alternate infinite;
}