:root{
    --border-radius: 4px;

    --navbar-height: 50px;
    --navbar2-height: 56px;

    --padding-large: 20px;
    --padding: 10px;
    --padding-small: 5px;
    --padding-tiny: 2px;
    --padding-line: 1px;
}