version: '3.8'
services:
  db:
    image: postgres:15
    container_name: perf-testingdb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./.data:/var/lib/postgresql/data
    ports:
      - 5437:5432
 