:root {
  --pricing-content-width: 1000px;

  --pricing-button-font-size: 18px;

  --pricing-button-height: 44px;
  --pricing-button-border-radius: 7px;

  @media (max-width: 1360px) {
    --pricing-content-width: 715px;

    --pricing-button-height: 30px;
    --pricing-button-font-size: 14px;
  }
}

@mixin pricing_button() {
  height: var(--pricing-button-height);
  font-size: var(--pricing-button-font-size);
  font-weight: 500;
  border-radius: var(--pricing-button-border-radius);
}

.pricing_button {
  @include pricing_button;
}
