@use "~/assets/css/fonts.scss";
@use "~/assets/css/utils.scss";
@import "~/assets/css/prime_datatable.scss";
@import "~/assets/css/prime_megamenu.scss";
@import "~/assets/css/prime_menubar.scss";

.p-error {
  color: #e24c4c;
}

// Button
// https://primevue.org/button/
.p-button {
  @include fonts.button_text;

  color: var(--primary-contrast-color);
  background: var(--button-color-active);
  height: var(--default-button-height);
  padding: 8px 24px;
  border: 1px solid var(--button-color-active);
  border-radius: var(--border-radius);

  display: inline-flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s, color 0.2s, border-color 0.2s;

  &.p-disabled {
    color: var(--button-text-color-disabled);
    background: var(--button-color-disabled);
    border-color: var(--button-color-disabled);
  }
  &:not(:disabled):hover {
    background: var(--button-color-hover);
    border-color: var(--button-color-hover);
  }
  &:not(:disabled):active {
    background: var(--button-color-pressed);
    border-color: var(--button-color-pressed);
  }

  &.p-button-icon-only {
    padding: 8px;
    width: var(--default-button-height);
  }
}

// Dialog
// https://primevue.org/dialog/
.p-dialog {
  background: var(--container-background);
  border: 1px solid var(--primary-orange);
  border-radius: var(--border-radius);
  padding: var(--padding-large);
  min-width: 375px;

  .p-dialog-header {
    color: var(--text-color);
    .p-dialog-title {
      @include fonts.dialog_header;
    }
    .p-dialog-header-close {
      display: none;
    }
  }
  &.p-dialog-header-hidden {
    .p-dialog-header {
      display: none;
    }
  }
  @media screen and (max-width: 430px) {
    margin-bottom: 0;
  }
}

.p-dialog-mask.p-component-overlay {
  background: var(--black-transparent-3);
}

// InputText
// https://primevue.org/inputtext/
.p-inputtext {
  @include fonts.standard_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  padding: 4px 7px;
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  appearance: none;

  ::placeholder {
    color: var(--input-placeholder-text-color);
  }

  &:enabled:focus {
    outline: 0 none;
    outline-offset: 0;
  }
}

// TabView
// https://primevue.org/tabview/
.p-tabview {
  .p-tabview-nav {
    li {
      margin-right: 0;

      .p-tabview-nav-link {
        border: solid transparent 1px;
        border-top-right-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
        padding: 10px 25px;
        color: var(--link-color);
      }
      &:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
        color: var(--link-color);
      }
      &.p-highlight .p-tabview-nav-link {
        background: var(--container-background);
        border-color: var(--container-border-color);
        color: var(--container-color);
      }
      &.p-disabled .p-tabview-nav-link {
        color: var(--text-color-disabled);
      }
    }
    .p-tabview-header {
      white-space: nowrap;
    }
  }
  .p-tabview-panels {
    border: 1px solid var(--container-border-color);
    border-radius: var(--border-radius);
  }
}

// Checkbox
// https://primevue.org/checkbox/
.p-checkbox {
  .p-checkbox-box {
    width: 20px;
    height: 20px;
    border-radius: var(--border-radius);
    background: var(--checkbox-background-color);
    &.p-highlight:not(:hover) {
      background: var(--primary-color);
      color: var(--primary-contrast-color);
    }
    &:hover {
      background: var(--button-color-hover);
      color: var(--primary-contrast-color);
    }
    &.p-disabled {
      background: var(--button-color-disabled);
    }
    .p-checkbox-icon {
      transition-duration: 0.2s;
      pointer-events: none; // prevents the checkbox from letting click events pass through (like a hole) when unchecking
      .p-icon {
        width: 14px;
        height: 14px;
      }
    }
  }
}

// Input Switch
// https://primevue.org/inputswitch/
.p-inputswitch {
  width: 43px;
  height: 22px;

  .p-inputswitch-slider {
    background: var(--button-color-active);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
      box-shadow 0.2s;
    border-radius: 30px;
  }

  .p-inputswitch-slider:before {
    background: var(--toggle-button-slider-color);
    width: 20px;
    height: 20px;
    left: 0.3px;
    margin-top: -10px;
    border-radius: 50%;
    transition-duration: 0.2s;
  }

  &.p-inputswitch-checked .p-inputswitch-slider:before {
    transform: translateX(20.6px);
  }

  &:not(.p-disabled):hover .p-inputswitch-slider {
    background: var(--button-color-hover);
  }

  &:not(.p-disabled):not(:hover).p-inputswitch-checked .p-inputswitch-slider {
    background: var(--primary-color);
  }

  &.p-disabled .p-inputswitch-slider {
    background: var(--button-color-disabled);
  }
}

// Toast
// https://primevue.org/toast/
// TODO: apply our styles
.p-toast {
  opacity: 1;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
  border-width: 0 0 0 6px;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast
  .p-toast-message
  .p-toast-message-content
  .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.5);
}
.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a7f3d0;
}
.p-toast .p-toast-message.p-toast-message-info {
  background: rgba(219, 234, 254, 0.7);
  border: solid #3b82f6;
  border-width: 0 0 0 6px;
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #3b82f6;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: rgba(228, 248, 240, 0.7);
  border: solid #1ea97c;
  border-width: 0 0 0 6px;
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #1ea97c;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: rgba(255, 242, 226, 0.7);
  border: solid #cc8925;
  border-width: 0 0 0 6px;
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #cc8925;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(255, 231, 230, 0.7);
  border: solid #ff5757;
  border-width: 0 0 0 6px;
  color: #ff5757;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #ff5757;
}

// Multiselect drop-down

.p-multiselect {
  @include fonts.button_text;
  color: var(--input-active-text-color);
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  height: var(--default-button-height);
  border-radius: var(--border-radius);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  justify-content: center;
  width: 100%;

  .p-disabled {
    opacity: 0.5;
  }
  .p-multiselect-trigger {
    margin-right: var(--padding);
  }
  .p-multiselect-label-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: var(--padding);
    .p-multiselect-label {
      @include utils.truncate-text;
      &.p-placeholder {
        background: var(--searchbar-filter-unselected);
      }
    }
  }
}
.p-multiselect-panel {
  color: var(--input-active-text-color);
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius);
  padding: var(--padding) var(--padding-small);

  .p-multiselect-header {
    float: left;
    margin-right: var(--padding);
    padding-left: var(--padding-small);
    .p-multiselect-close {
      display: none;
    }
  }

  .p-multiselect-items-wrapper {
    max-width: 200px;
    margin-top: var(--padding);
    height: 100%;
    border-top: 1px solid var(--input-border-color);

    .p-multiselect-items {
      .p-multiselect-item {
        padding: var(--padding-small) 4px var(--padding-small);
        border-radius: var(--border-radius);

        &:hover {
          background: var(--list-hover-background);
          color: var(--list-hover-color);
        }
        .p-checkbox {
          margin-right: var(--padding);
        }
        span {
          @include utils.truncate-text;
        }
      }
    }
  }
}

/***
*  Dropdown
* https://primevue.org/dropdown/
* different Dropdown variant's:
* - 'default' (=default) : default style for dropdown
* - 'table' : dropdown style within a data table
* - 'header' : used when it is in the header of the website
***/

.p-dropdown {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  border-radius: var(--border-radius);
  padding: var(--padding);
  display: flex;
  justify-content: center;
  align-items: center;

  &.small {
    padding: var(--padding-small) var(--padding);
    height: 30px;
  }

  &.table {
    background: var(--background-color);
  }
  &.header {
    background: transparent;
    border: none;
  }

  &:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
  }
  &.p-overlay-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .p-dropdown-label {
    background: transparent;
    border: 0 none;
    padding: 0;
    &.p-placeholder {
      color: var(--input-placeholder-text-color);
    }
    &:focus,
    &:enabled:focus {
      outline: 0 none;
      box-shadow: none;
    }
  }
  .p-dropdown-trigger {
    margin-left: var(--padding);
    background: transparent;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.p-dropdown-panel {
  background: var(--input-background);
  border: 1px solid var(--input-border-color);
  color: var(--input-active-text-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  &.header {
    border-radius: var(--border-radius);
  }
  transform: translateY(-1px);
  &.table {
    background: var(--background-color);
  }
  .p-dropdown-items {
    padding: var(--padding-small);
    .p-dropdown-item {
      @include utils.truncate-text;
      padding: var(--padding-small) 4px;
      border-radius: var(--border-radius);
      .discreet {
        color: var(--text-color-discreet);
      }
      &.p-highlight:not(:hover) {
        background: var(--list-highlight-background);
        color: var(--primary-contrast-color);
        .discreet {
          color: var(--primary-contrast-color-discreet);
        }
      }
      &:hover {
        background: var(--list-hover-background);
        color: var(--list-hover-color);
        .discreet {
          color: var(--list-hover-descrete-color);
        }
      }
    }
  }
}

.p-accordion {
  .p-accordion-tab {
    .p-accordion-header {
      color: var(--container-color);
      background-color: var(--container-background);
      border: 1px solid var(--container-border-color);
      border-radius: var(--border-radius);
      padding: 16px;
      .p-accordion-header-link {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
      }
    }

    &.p-accordion-tab-active {
      .p-accordion-header {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
