@use "~/assets/css/fonts.scss";

.p-menubar {
  @include fonts.standard_text;

  padding: 0 var(--padding);
  color: var(--text-color);

  .p-menubar-root-list
  {  
    gap: 10px;

    > .p-menuitem {
      min-width: 140px; // TODO: Smarter handling
      border: 1px solid var(--container-border-color);
      border-radius: var(--border-radius);

      > .p-menuitem-content {
        border-radius: 0px;

        .p-menuitem-link {
          padding: 10px 10px 8px 10px;
          
          .p-menuitem-text {
            color: var(--text-color);
          }
        }
      }

      &:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
        background: var(--list-hover-background);
      }
    }
  }

  .p-menuitem > .p-menuitem-content {
    .p-menuitem-link {
      color: var(--text-color); // TODO: requires an active state to set this to primary color
      padding: 11px 10px 10px 10px; // TODO: Does not work?
      user-select: none;

      .p-menuitem-text {
        color: var(--text-color);
      }
    }
  }

  .p-menuitem:not(.p-highlight):not(.p-disabled).p-focus > .p-menuitem-content {
    border: 1px solid var(--primary-color); // TODO: Border cannot really be here as it is just another border within the root element
    border-radius: var(--border-radius);

    .p-menuitem-link .p-menuitem-text {
      color: var(--primary-color);
    }
  }

  .p-menuitem:not(.p-highlight):not(.p-disabled) > .p-menuitem-content:hover {
    background: var(--list-hover-background);
  }

  .p-submenu-list {
    margin-top: var(--padding-tiny);
    background: var(--background-color);
    border: 1px solid var(--container-border-color);
    border-radius: var(--border-radius);
    min-width: 140px; // TODO: Smarter handling

    .p-menuitem {
      padding: 16px 10px 15px 15px;

      &:not(:last-child) {
        border-bottom: 1px solid var(--container-border-color);
      }
    }
  }
}
