.validator-dashboard {
  .p-megamenu {
    background: var(--container-background);
    user-select: none;
    z-index: 1; // without this, the menu keeps a very high z-index when it is open in mobile mode and then the window is enlarged (the change of mode closes the menu but does not reset its z-index, so the menu bar floats above the search bar)
    margin-right: -.75rem; // keep items' text right-aligned to page while showing consistent outline padding on focus

    .p-megamenu-root-list:focus {
      outline: none;
    }

    .p-megamenu-item-active {
      .p-submenu-icon {
        transform: rotate(90deg);
      }
    }

    .p-megamenu-item>.p-megamenu-item-content {
      color: var(--megamenu-text-color)
    }

    .p-megamenu-item {
      padding: var(--padding-small);
    }

    .p-megamenu-item>.p-megamenu-item-content .p-menuitem-link {
      --outline-width: var(--padding-tiny);
      --outline-offset: var(--padding-tiny);
      display: flex;
      align-items: center;
      border-radius: var(--border-radius);
      padding: var(--padding-small) .75rem;
      gap: var(--padding);

      &:focus-visible {
        outline: var(--outline-width) solid var(--blue-500);
        outline-offset: var(--outline-offset);
      }
    }

    .p-megamenu-submenu>.p-megamenu-item:not(.p-highlight):not(.p-disabled):hover {
      background: var(--megamenu-hover-color);
    }

    .p-megamenu-overlay {
      background: var(--megamenu-panel-color);
      background-color: transparent;
      width: fit-content;
      pointer-events: none;
      border-radius: var(--border-radius);
    }

    .p-megamenu-submenu {
      margin-top: var(--padding-tiny);
      padding: var(--padding) var(--padding-small) var(--padding) var(--padding-small);
      background-color: var(--background-color);
      border: 1px solid var(--container-border-color);
      border-radius: var(--border-radius);
      font-weight: var(--standard_text_font_weight);
      pointer-events: auto;

      .p-megamenu-item {
        position: relative;
        border-radius: var(--border-radius);
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .p-megamenu-submenu {
      min-width: fit-content;
    }

    &.p-megamenu-horizontal {
      &:not(.p-megamenu-mobile) {
        .p-megamenu-root-list>.p-megamenu-item:not(.p-highlight)>.p-megamenu-item-content .p-menuitem-link {

          .p-menuitem-text,
          .p-submenu-icon {
            color: var(--megamenu-text-color);
          }
        }
      }
    }

    &:not(.p-megamenu-mobile) {
      .p-megamenu-overlay {

        .p-megamenu-col-2,
        .p-megamenu-col-3,
        .p-megamenu-col-12 {
          width: fit-content;
        }
      }

      .p-megamenu-item {
        .bc-header-mega-menu__item-button {
          font-size: 1rem;
          padding: var(--padding-small);
          height: unset;
          margin: 0;
          margin-right: var(--padding);
        }
      }
    }

    &.p-megamenu-mobile {
      width: 100%;
      align-items: flex-end;
      flex-direction: column;
      padding-top: var(--padding);

      .p-megamenu-button {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
      }

      .p-megamenu-root-list {
        position: static;
        background: var(--container-background);
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }

      .p-megamenu-root-list>.p-megamenu-item>.p-megamenu-overlay {
        position: static;
        border-radius: 8px;
        padding: 0 var(--padding);
      }

      .p-megamenu-root-list>.p-megamenu-item>.p-megamenu-item-content .p-menuitem-link {
        left: -10px;

        .p-menuitem-text,
        .p-submenu-icon {
          color: var(--text-color);
        }
      }

      .bc-header-mega-menu__item-button {
        display: flex;
        font-size: 1rem;
        padding: var(--padding-small) .75rem;
        height: unset;
        width: 100%;
        margin: 0;
        justify-content: space-between;
      }
    }
  }
}