@font-face {
  font-family: "Montserrat";
  font-weight: 500 600;
  src: url("./Montserrat-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500 600;
  font-style: italic;
  src: url("./Montserrat-Italic-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("./Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src: url("./Roboto-Italic.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("./Roboto-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src: url("./Roboto-Mediumtalic.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("./Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src: url("./Roboto-BoldItalic.ttf") format("ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 300 500;
    src: url("./Inter-VariableFont_slnt,wght.ttf") format("ttf");
  }

:root {
  --montserrat-family: 'Montserrat', sans-serif;
  --montserrat-medium: 500;
  --montserrat-semi-bold: 600;

  --roboto-family: 'Roboto', sans-serif;
  --roboto-regular: 400;
  --roboto-medium: 500;
  --roboto-bold: 700;
  
  --inter-family: 'Inter', sans-serif;
  --inter-light: 300;
  --inter-regular: 400;
  --inter-medium: 500;
}
